<div class="row tab-pane {{#active}}active{{/active}}" id="tab-{{num}}">
    <div class="col-md-12">
        <div class="text-content">
            <div class="gall">
                <span href="/web/pic/view/1.jpg" class="gal-cell gc-w2" style="background-image: url(/web/pic/thumb/1.jpg)"></span>
                <span href="/web/pic/view/2.jpg" class="gal-cell gc-w2 gc-h2" style="background-image: url(/web/pic/thumb/2.jpg)"></span>
                <span href="/web/pic/view/3.jpg" class="gal-cell gc-w3" style="background-image: url(/web/pic/thumb/3.jpg)"></span>
                <span href="/web/pic/view/4.jpg" class="gal-cell" style="background-image: url(/web/pic/thumb/4.jpg)"></span>
                <span href="/web/pic/view/5.jpg" class="gal-cell gc-w3" style="background-image: url(/web/pic/thumb/5.jpg)"></span>
                <span href="/web/pic/view/6.jpg" class="gal-cell gc-h3" style="background-image: url(/web/pic/thumb/6.jpg)"></span>
                <span href="/web/pic/view/7.jpg" class="gal-cell gc-w2" style="background-image: url(/web/pic/thumb/7.jpg)"></span>
                <span href="/web/pic/view/8.jpg" class="gal-cell gc-w2 gc-h2" style="background-image: url(/web/pic/thumb/8.jpg)"></span>
                <span href="/web/pic/view/9.jpg" class="gal-cell gc-w2 gc-h2" style="background-image: url(/web/pic/thumb/9.jpg)"></span>
                <span href="/web/pic/view/10.jpg" class="gal-cell gc-w3" style="background-image: url(/web/pic/thumb/10.jpg)"></span>
                <span href="/web/pic/view/11.jpg" class="gal-cell gc-w3" style="background-image: url(/web/pic/thumb/11.jpg)"></span>
            </div>
        </div>
    </div>
</div>