<div class="admin-floater">
    <div class="btn-group">
        <button data-action="save" class="btn btn-success" href="#">
            <i class="fa fa-floppy-o fa-lg"></i> Сохранить
        </button>
        <button data-action="revert" class="btn btn-default" href="#">
            <i class="fa fa-undo fa-lg"></i> Отменить
        </button>
    </div>
    <button data-action="extras" class="btn btn-default" href="#">
        <i class="fa fa-tag fa-lg"></i> Дополнительно
    </button>
    <button data-action="delete" class="btn btn-danger" href="#">
        <i class="fa fa-trash-o fa-lg"></i> Удалить
    </button>
</div>