<div class="admin-floater">
    <div class="btn-group">
        <button data-action="save" class="btn btn-labeled btn-success" href="#">
            <span class="btn-label"><i class="fa fa-floppy-o fa-lg"></i></span> Сохранить
        </button>
        <button data-action="revert" class="btn btn-labeled btn-default" href="#">
            <span class="btn-label"><i class="fa fa-undo fa-lg"></i></span> Отменить
        </button>
    </div>
    <button data-action="extras" class="btn btn-labeled btn-default" href="#">
        <span class="btn-label"><i class="fa fa-tag fa-lg"></i></span> Дополнительно
    </button>
    <button data-action="delete" class="btn btn-labeled btn-danger" href="#">
        <span class="btn-label"><i class="fa fa-trash-o fa-lg"></i></span> Удалить
    </button>
</div>