<div id="slido">
    <nav class="slido">
        <ul>
            <span class="title">Управление</span>
            <li><a href="#"><i class="fa fa-file-text-o"></i> Страницы</a>
                <ul>
                    <li><a href="#"><i class="fa fa-plus-circle"></i> Создать</a></li>
                    <li><a href="/admin/pages">Список</a></li>
                    <li><a href="#">Последние изменения</a></li>
                    <li><a href="#"><i class="fa fa-bookmark-o"></i> Избранные</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-folder-open-o"></i> Группы</a></li>
            <li><a href="#"><i class="fa fa-files-o"></i> Файлы</a>
                <ul>
                    <li><a href="#"><i class="fa fa-upload"></i> Загрузить новый</a></li>
                    <li><a href="#">Список</a></li>
                    <li><a href="#"><i class="fa fa-filter"></i>Фильтр</a>
                        <ul>
                            <li><a href="#"><i class="fa fa-picture-o"></i> Картинки</a></li>
                            <li><a href="#"><i class="fa fa-clipboard"></i> Документы</a></li>
                            <li><a href="#"><i class="fa fa-volume-up"></i> Медиа</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-bookmark-o"></i> Избранные</a></li>
                </ul>
            </li>
            <li><a href="#">Нужна помощь?</a></li>
        </ul>
    </nav>
    <div id="side-panel">

        <div>
            <a href="#"><i class="fa fa-home fa-2x"></i></a>
        </div>
        <div>
            <a id="openMenu" class="fill" href="#"><i class="fa fa-angle-double-left
     fa-2x open-icon"></i><i class="fa fa-angle-double-right
     fa-2x close-icon"></i></a>
        </div>
        <div>
            <a href="#"><i class="fa fa-gear fa-2x"></i></a>
        </div>
        <div>
            <a class="important" id="editButton" href="#"><i class="fa fa-pencil fa-2x"></i></a>
        </div>
    </div>
</div>