<form role="form" id="newPageForm">
    <!--<input type="hidden" name="_id" value="" />-->
    <div class="form-group">
        <label class="control-label" for="title">Заголовок</label>
        <input type="input" class="form-control" id="exampleInputEmail1" name="title" placeholder="Введите заголовок страницы">
    </div>
    <div class="form-group">
        <label class="control-label" for="alias">Указатель</label>
        <input type="input" class="form-control" name="alias" placeholder="Введите Указатель страницы">
        <p class="help-block">Указатель - уникальный идетификтор страницы. Испульзуется в URL. Может содержать строчные латинские символы и знак _</p>
    </div>
    {{#showType}}
        <div class="form-group">
            <label class="control-label" for="type">Тип</label>
            <select name="type"  class="form-control" placeholder="Выберите тип страницы">
                <option value="plain">Стандартная</option>
                <option value="tabs">Страница с табами</option>
            </select>
        </div>
    {{/showType}}

</form>