<div class="big-deal" style="background-image: url('/web/img/bigdeal.jpg')">
    <div class="row">
        <div class="col-md-4 col-md-offset-8 preface">
            <h1>{{&title}}</h1>
            {{#intro}}
            <p>
                {{.}}
            </p>
            {{/intro}}
        </div>
    </div>
</div>
<div class="main-content tabed">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <ul class="nav nav-tabs" id="myTab">
                {{#titles}}
                    <li {{#active}}class="active"{{/active}}><a href="#tab-{{num}}">{{title}}</a></li>
                {{/titles}}
            </ul>
        </div>
    </div>
    <div class="tab-content">
        {{#tabs}}
         {{&text}}
        {{/tabs}}
    </div>
</div>

